<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="Conex_Rapitienda"
         connectionString="Data Source=DESKTOP-M5PCR6Q\SQLEXPRESS;
         Initial Catalog=Rapitienda;Integrated Security=true"
         providerName="System.Data.SqlClient"/>
  </connectionStrings>
</configuration>